@use './variables';

@mixin container-sm {
    width: 100%;
    height: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;

    @media screen and (min-width: variables.$screen-sm) {
        width: variables.$container-sm;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin container-md {
    @include container-sm;

    @media screen and (min-width: variables.$screen-md) {
        width: variables.$container-md;
    }
}

@mixin container-lg {
    @include container-md;

    @media screen and (min-width: variables.$screen-lg) {
        width: variables.$container-lg;
    }
}

@mixin container-xl {
    @include container-lg;

    @media screen and (min-width: variables.$screen-xl) {
        width: variables.$container-xl;
    }
}

@mixin container-2xl {
    @include container-xl;

    @media screen and (min-width: variables.$screen-2xl) {
        width: variables.$container-2xl;
    }
}

@mixin container-half-lg {
    @include container-md;

    @media screen and (min-width: variables.$screen-lg) {
        width: calc(variables.$container-lg / 2);
    }

    @media screen and (min-width: variables.$screen-xl) {
        width: calc(variables.$container-xl / 2);
    }

    @media screen and (min-width: variables.$screen-2xl) {
        width: calc(variables.$container-2xl / 2);
    }
}

@mixin text-display {
    font-size: 2.8rem;
    font-weight: 500;
    color: variables.$color-very-dark-blue;
    line-height: 3.2rem;
}

@mixin text-body {
    font-size: 1.8rem;
    font-weight: 400;
    color: variables.$color-grayish-blue;
    line-height: 3rem;
}